# Titanic: Machine Learning from Disaster

In [40]:
# Imports
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [41]:
# Load of files
gender_submission = pd.read_csv("../input/titanic/gender_submission.csv")
test = pd.read_csv("../input/titanic/test.csv")
train = pd.read_csv("../input/titanic/train.csv")

In [42]:
train.head()
# gender_submission.head()
# test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [43]:
# Define a numeric value for the sex
def convert_sex(value):
    if value == 'female':
        return 1
    else:
        return 0

# Append a new column with the numeric value for the sex
train['Sex_binary'] = train['Sex'].map(convert_sex)
test['Sex_binary'] = test['Sex'].map(convert_sex)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binary
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [44]:
# Build model
model = RandomForestClassifier(n_estimators=100, n_jobs=1, random_state=0)

In [45]:
# Selection of features and target
X_train = train[['Sex_binary', 'Age']]
y_train = train['Survived']

# Append default value
X_train = X_train.fillna(-1)

# Fit the model
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [46]:
# Selection of features and target
X_test = test[['Sex_binary', 'Age']]

# Append default value
X_test = X_test.fillna(-1)

# Predict the Y_test
Y_test = model.predict(X_test)

In [51]:
# Convert in Series
Y_test = pd.Series(Y_test, index=test['PassengerId'], name="Survived")

# Write a csv file
Y_test.to_csv("first_model.csv", header=True)

In [52]:
!head -n10 first_model.csv

PassengerId,Survived
892,0
893,1
894,0
895,1
896,1
897,0
898,1
899,0
900,1